body{
	font-family: Calibri;
}
.lol{
	float: right;
	margin-right: 28px;
}
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.6;
    text-decoration: none;
}
.btn span.fa {    			
	opacity: 0;
	padding-top: 30px;
	transition: 0.2s;
}
.btn.active span.fa {				
	opacity: 1;				
	font-size: 2em;
	transition: 0.3s;
}